
body {
   
    background-color: rgb(38, 38, 38);
    
  }
 
  h1, h2, h4 {
   
    color: white;
  }
  
table,
 
th, td {
  
  border: 1px solid rgb(12, 0, 0);
  border-collapse: collapse;
}

th,td {
  
  background-color: white;
}